#codeEditCont {
	max-height: 100vh;
	max-width: 100vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

#codeEditorCont {
	margin-left: 30px;
	width: 500px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
	overflow: hidden;
}

input {
	font-size: 150%;
}

#buttons {
	float: right;
}

#saveButton, #cancelButton {
	font-size: 125%;
	color: rgb(38, 153, 244);
	font-weight: 500;
	width: 6em;
}

#settingsCont {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding-bottom: 11px;
}

#executionTriggersContainer .floated-label-placeholder {
	display: none;
}

.executionTrigger {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.triggerInput {
	display: inline-block;
	-webkit-box-flex: 5;
	-webkit-flex-grow: 5;
	        flex-grow: 5;
}

#codeTabContentContainer, #container, #flexRow,
#flexColumn, #editorCont, #editorPlaceholder, 
#librariesTabContent {
	-webkit-box-flex: 100;
	-webkit-flex-grow: 100;
	        flex-grow: 100;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

.CodeMirror, .CodeMirror-focused {
	font-size: 125%;
}

.CodeMirror {
	-webkit-animation-name: borderblur;
	animation-name: borderblur;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	border: 1px solid rgb(195, 214, 255);
}

.CodeMirror-focused {
	-webkit-animation-name: borderfocus;
	animation-name: borderfocus;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	border: 1px solid rgb(76, 139, 255);
}

.CodeMirror-linenumber {
	border-right: 1px solid rgb(190,190,190);
}

@-webkit-keyframes borderfocus {
	from {
		border: 1px solid rgb(195, 214, 255);
	}

	to {
		border: 1px solid rgb(76, 139, 255);
	}
}

@keyframes borderfocus {
	from {
		border: 1px solid rgb(195, 214, 255);
	}

	to {
		border: 1px solid rgb(76, 139, 255);
	}
}

@-webkit-keyframes borderblur {
	from {
		border: 1px solid rgb(76, 139, 255);
	}

	to {
		border: 1px solid rgb(195, 214, 255);
	}
}

@keyframes borderblur {
	from {
		border: 1px solid rgb(76, 139, 255);
	}

	to {
		border: 1px solid rgb(195, 214, 255);
	}
}

#buttonsContainer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

#executionTriggersContainer {
	width: 100%;
	padding-bottom: 5px;
}

#editorSettings svg {
	padding: 4px;
}

#editorFullScreen svg {
	padding: 1px;
}

#editorFullScreen, #editorSettings, #editorTypescript {
	cursor: pointer;
	background-color: white;
}

#editorTypescript[active] {
	background-color: rgb(200, 200, 200);
	color: #2699f4;
}

	#editorFullScreen:hover, #editorSettings:hover, #editorTypescript:hover {
		background-color: rgb(230, 230, 230);
	}

.editorTopOption {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-top: 4px;
}

#buttonsContainer {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
	margin-right: 1px;
}

#addTrigger {
	font-size: 125%;
}

#editorOptions {
	z-index: 30;
	background-color: rgb(255, 255, 255);
	font-family: 'Roboto';
	padding: 10px;
	height: -webkit-calc(100% - 137px);
	height: calc(100% - 137px);
	font-size:15px;
}

#settingsShadow {
	position: absolute;
	z-index: 30;
	font-family: 'Roboto';
	border-radius: 50%;
	width:0;
	height: 0;
	pointer-events: none;
	overflow: hidden;
	right: 0;
}

#editorThemeSettingTxt, #editorThemeSettingChoicesCont, .editorThemeSetting, #editorTabsOrSpacesTxt, #editorTabsOrSpacesCheckbox, #editorUseLineNumbersCheckbox, #editorUseLineNumbersTxt {
	display: inline-block;
}

.editorThemeSetting {
	border: 2px solid rgb(128,128,128);
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-bottom: -3px;
	cursor: pointer;
}

	.editorThemeSetting.currentTheme {
		border: 2px solid rgb(255,165,0);
	}

#editorThemeSettingWhite {
	background-color: white;
}

#editorThemeSettingDark {
	background-color: rgb(30,30,30);
}

.editorSettingsTxt {
	font-size: 250%;
	font-weight: 500;
	padding-bottom: 10px;
}

#editorTabsOrSpacesTxt, #editorUseLineNumbersTxt {
	margin-left: 10px;
}

#editorOptionsContainer paper-checkbox {
	margin-left: 2px;
	pointer-events: all;
}

#editorTabSizeInput {
	width: 250px;
}

.CodeMirror-gutters {
	min-height: 100%!important;
}

#bubbleCont {
	width: 508px !important;
	height: 100%!important;
	overflow: hidden;
	right: 0;
	pointer-events: none;
}

.CodeMirror.fullscreen #settingsContainer {
	font-size: 140%;
}

#editorJSLintGlobalsFlexCont {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
}

#editorJSLintGlobalsDefault {
	margin-top: 13px;
}

#editorJSLintGlobalsDefault, #editorJSLintGlobalsInput {
	display: inline-block;
}

#editorThemeFontSize {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	        flex-direction: row;
	padding-bottom:10px;
}

#editorThemeFontSizeInput paper-input-container {
	padding: 0;
}

.showOnContentItemCont {
	display: inline-block;
	position: relative;
	-webkit-user-select:none;
}

.showOnContentItemIcon, .showOnContentItemTxt {
	cursor: pointer;
}

.showOnContentItemIcon svg {
	width: 54px;
	height: 54px;
}

.showOnContentItemTxt {
	font-weight: 500;
	text-align: center;
	margin-top: -6px;
	text-transform: capitalize;
}

.itemEditBigTxt {
	font-weight: 500;
	font-size: 200%;
}

.showOnContentItemCheckbox {
	margin-left: 17px;
	margin-top: 5px;
}

.executionTriggerNot {
	color: #f44336;
}

	.executionTriggerNot #checkboxLabel {
		padding-left: 0;
		padding-right: 8px;
	}

	.executionTriggerNot #ink {
		color: #f44336!important;
	}

	.executionTriggerNot #ink[checked] {
		color: #f44336!important;
	}

	.executionTriggerNot #checkbox.checked {
		background-color: #f44336!important;
		border-color: #f44336!important;
	}

#exportMenu {
	display:inline-block;
	height: 40px;
	z-index: 10;
	position: relative;
}

#exportMenu paper-menu {
	width: auto;
	padding: 0;
}

#exportMenu #dropdownSelected {
	font-size: 125%;
}


#codeOptionsContainer {
	width: 45.5%;
	margin-left: 9%;
}

#triggersInfoTxtCont {
	position: absolute;
}

#triggersInfoCont, #codeInfoCont, #editorTabInfoCont, #editorStylusInfo {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}

#codeInfoCont {
	margin-top: 4px;
}

#triggersInfoCont .active, #codeInfoCont .active, #editorTabInfoCont .active,
#editorStylusInfo .active,
#triggersInfoCont #triggersInfoTxtCont, #codeInfoCont #codeInfoTxtCont,
#editorTabInfoCont #editorTabInfoTxtCont, #editorStylusInfo #editorStylusInfoTxtCont {
	display: none;
}

#triggersInfoCont .inactive, #codeInfoCont .inactive, #editorTabInfoCont .inactive, 
#editorStylusInfo .inactive {
	display: block;
}

#triggersInfoCont:hover .active, #codeInfoCont:hover .active,
#editorTabInfoCont:hover .active, #editorStylusInfo:hover .active,
#triggersInfoCont:hover #triggersInfoTxtCont,
#codeInfoCont:hover #codeInfoTxtCont,
#editorTabInfoCont:hover #editorTabInfoTxtCont,
#editorStylusInfo:hover #editorStylusInfoTxtCont {
	display: block;
}

#triggersInfoCont:hover .inactive, #codeInfoCont:hover .inactive,
#editorTabInfoCont:hover .inactive, #editorStylusInfo:hover .inactive {
	display:none;
}

#triggersInfoTxt, #codeInfoTxtCont, #editorTabInfoTxtCont, #editorStylusInfoTxtCont {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
	cursor: default;
}

.editorTabsCont {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.editorTab {
	font-size: 150%;
	position: relative;
	text-transform: uppercase;
	padding: 5px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

	.editorTab.active {
		background-color: rgb(190,190,190);
		box-shadow: none;
	}

.userScriptGutterHighlight {
	background: lightblue;
}

#settingsAnimationPositioner {
	position: absolute;
}

#editorOptionsContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	pointer-events: all;
	background-color: white;
}

.paper-material {
	display: inline;
}

#editor {
	min-height: 360px;
}

.executionTriggerCheckboxCenterer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	margin-right: 10px;
}

#triggerOverflowContainer {
	overflow: hidden;
}

#topRow {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

#updateIcon {
	box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.35);
	background-color: #3f51b5;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
}

#updateIcon:active {
	box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.35);
}

#updateEnabled {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#updateEnabled.hidden, #updateDisabled.hidden {
	display: none;
}

#changeType {
	margin-right: 20px;
}