#consoleCont {
	margin: 10px;
	width: calc(100vw - 20px);
	height: calc(100vh - 84px);
	background-color: rgb(40,40,40);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#consoleFiller {
	flex-grow: 100;
}

#linesCont {
	font-family: 'Consolas';
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 10px;
	max-height: calc(100vh - 114px);
}

.line:first-child {
	padding-top: 10px;
}

.line:last-child {
	padding-bottom: 5px;
}

.lineTimestamp {
	color: rgb(200,200,200);
	display: inline-block;
	margin-right: 10px;
}

.lineContent {
	color: rgb(255,255,255);
	display: inline-block;
}

.line {
	border-bottom: 1px solid rgb(60,60,60);
	margin: 1px 0;
	display: flex;
	justify-content: space-between;
}

.lineContent > echo-html > * {
	display: inline-block;
}

#consoleInfo {
	height: 30px;
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 150%;
	padding: 0 10px;
}

#filterCont {
	display:flex;
	justify-content: flex-start;
}

.centerVertical {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#consoleInfoTxtCont {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}

#whatIsThis .active, #whatIsThis #consoleInfoTxtCont {
	display: none;
}

#whatIsThis .inactive {
	display: flex;
}

#whatIsThis:hover .active, #whatIsThis:hover #consoleInfoTxtCont {
	display: flex;
}

#whatIsThis:hover .inactive {
	display:none;
}

#consoleInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: #4c4c4c;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

	#consoleInfoTxt.expandLeft {
		margin-left: -263px;
	}

#tabFilter, #idFilter {
	position: relative;
}

#consoleStats {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#consoleStats > * {
	margin-left: 10px;
}

.dropdownFilter {
	margin-right: 10px;
}

.dropdownFilter paper-dropdown-menu paper-menu {
	background-color: rgb(40,40,40);
	width: 150px;
	padding: 0;
}

.dropdownFilter #dropdownSelectedCont {
	margin: 0;
}

.dropdownFilter #dropdownSelected {
	font-size: 100%;
	color: white;
}

.dropdownFilter paper-item {
	color: white;
	display: block;
	padding: 8px;
}

.dropdownFilter .menuSelectedCheckmark {
	transform: translateY(2px);
}

.lineSource {
	color: white;
}

.lineSourceTabCont {
	cursor: pointer;
	position: relative;
}

.lineSourceTabCont:hover {
	text-decoration: underline;
}

.lineSourceTabCont:focus {
	outline: none;
}

.lineSourceTabCont:focus::before {
	background-color: rgba(0,0,0,.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
}

.toastLink {
	color: rgb(238, 255, 65);
	margin: 10px;
	cursor: pointer;
}

#inputFieldPrefix {
	color: rgb(255, 255, 255);
	font-family: 'Consolas';
	display: inline-block;
}

#consoleInput {
	background-color: rgb(40,40,40);
	border: 0;
	outline: none;
	color: white;
	flex-grow: 100;
	font-family: 'Consolas';
	margin-left: 5px;
	padding: 0;
	overflow: hidden;
}

#textFilter input {
	color: white;
}

#textFilter paper-input-container {
	padding: 2px 0;
}

#inputFieldCont {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 3px;
	position: relative;
}

#inputFieldWarning {
	color: #FF5722;
	position: absolute;
	margin-left: 10px;
	opacity: 0;
	transition: opacity 150ms ease-in;
	pointer-events: none;
	user-select: none;
}

#inputFieldWarning.visible {
	opacity: 1;
}

#prefixSpinner {
	width: 10px;
	height: 10px;
}

#console > paper-material {
	margin-bottom: 5px;
}