paper-menu {
	width: 340px;
	box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#dropdownArrow {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	fill: rgb(38, 153, 244);
	margin-left: 5px;
}

#dropdownSelectedCont {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
}

	#dropdownSelectedCont:hover {
		border-bottom: 1px solid rgb(38, 153, 244);
	}

#dropdownSelected {
	color: rgb(38, 153, 244);
	font-size: 150%;
	font-weight: 500;
	display: inline-block;
}

paper-menu .content {
	height: 0;
	overflow: hidden;
	display: none;
}

paper-item[aria-selected=true] .menuSelectedCheckmark {
	display: block;
}

paper-item[aria-selected=true] .menuOptionName {
	padding-left: 8px;
}

paper-dropdown-menu[indent=false] #dropdownSelectedCont {
	margin-left: 0;
}