.defaultLinkLinkCont, .defaultLinkName, .defaultLinkButton {
	display: inline-block;
}

.defaultLinkCont {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.defaultLinkHref {
	color: inherit;
	text-decoration: none;
}

	.defaultLinkHref:hover {
		text-decoration: underline;
	}


.defaultLinkName {
	flex-grow: 3;
	margin-left: 10px;
	margin-right: 10px;
}

	.defaultLinkName paper-input {
		width: 100%;
	}

	.defaultLinkName input {
		font-size: 125%;
	}

.defaultLinkLink {
	margin-top: 25px;
}

.defaultCRMLinks {
	clear: left;
}

paper-button {
	margin-top: 5px;
}

.defaultLinkLinkCont {
	width: 215px;
}

.defaultLinkLinkCont[searchengine] {
	width: 320px;
}