#editPageCont {
	background-color: white;
	padding: 10px;
	pointer-events: all;
}

#horizontalCenterer {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	width: calc(100vw - 20px);
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

#verticalCenterer {
	display: -webkit-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

#nodeInfo, #scriptUpdateNotice {
	background-color: #3F51B5;
    color: white;
    font-size: 125%;
    padding: 5px 8px;
	pointer-events: all;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#scriptUpdateNotice {
	background-color: #E65100;
	max-width:890px;
}

	#nodeInfo a, #scriptUpdateNotice a {
		color: white;
		text-decoration: underline;
	}

#nodeInfo span::selection, #nodeInfo b::selection, #nodeInfo a::selection, #nodeInfo div::selection,
#scriptUpdateNotice span::selection, #scriptUpdateNotice b::selection, #scriptUpdateNotice a::selection, #scriptUpdateNotice div::selection {
    background-color: white;
    color: black;
}

#scriptUpdateMessage, #scriptUpdateStatus {
	display:inline;
}

#scriptUpdateWarningIcon {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	fill: white;
	padding-right: 8px;
}

#scriptUpdateHideDialog {
	fill: white;
	margin-top: -5px;
    margin-right: -5px;
	cursor: pointer;
}

.scriptUpdateTextButton {
	font-weight: bold;
	cursor: pointer;
}

	.scriptUpdateTextButton:hover {
		text-decoration: underline;
	}

menu-edit, divider-edit, link-edit {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#nodeInfo > div {
	display: inline;
}

#nodeInfoNameCont, #nodeInfoAuthorCont {
	max-width: 200px;
	text-overflow: ellipsis;
	display: inline-block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: -4px;
}

#nodeInfoByYou {
	text-decoration: underline;
}