html {
	overflow-x: hidden;
}

paper-toolbar {
	background: rgb(255,87,34) !important;
}

#container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

#drawer {
	width: 250px;
	-webkit-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px);
	transition: transform ease-in-out 0.3s;
	z-index:10;
	background-color:white;
	min-height:100%;
	position: fixed;
}

	#sideDrawer.toggled #drawer {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

#content {
	width: 100vw;
	min-width: 1000px;
	left: 0;
	min-height: 100vh;
	position: absolute;
}

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0,0,0,0.35);
	transition: opacity ease-in-out 0.3s;
	opacity:0;
	z-index:5;
	pointer-events: none;
}

#sideDrawer.toggled #overlay {
	opacity: 1;
	position:fixed;
}

paper-toolbar .title {
	font-size: 200%;
}

.content {
	padding:5px;
	display: -webkit-flex;
	display: flex;
	flex-direction:row;
	justify-content:center;
	-webkit-justify-content: center;
}

	.content.extension {
		font-size: 150%;
	}

	.content.website {
		font-size:100%;
	}

.mainContent {
	max-width:980px;
	margin: 0 10px;
}

.topTitle {
	font-size: 400%;
	font-weight: 500;
	margin-bottom:-10px;
}

.sectionTitle, .secondaryTitle {
	text-transform: capitalize;
	font-size: 300%;
}

.docIndexPropCont {
	padding: 3px;
}

.docIndexLink, .docIndexSectionTitleLink, .docPropProto, .docDataFunctionUrlData {
	text-decoration: none;
	color: rgb(44, 161, 220);
}

.docIndexSectionTitleLink {
	font-weight: bold;
}

.indexCol {
	padding: 5px 10px;
	border-bottom: 1px solid rgb(128, 128, 128);
	width: 100%;
}

.indexTable {
	border-spacing: 0;
	width: 100%;
}

.titleIndexRow {
	background-color: rgb(230,230,230);
}

.docIndexSection:last-child .indexRow:last-child .indexCol {
	border: none;
}

.docElevation, .docPropProtoCont, .docDataFunctionUrlCont {
	padding:5px;
}

.docTitle {
	font-size: 200%;
	font-weight: 500;
}

.docDataPropsTxt, .docDataParamTxt, .docDataReturnsTxt, .docPropTxt, .permissionsTxt, .docPropProtoTxt, .docDataFunctionUrlTxt {
	background-color: rgb(150,150,150);
	color: rgb(255, 255, 255);
	padding: 10px;
	font-size: 120%;
}

.docDataPropType, .docDataPropName, .docDataPropDescr,
.docDataParamType, .docDataParamName, .docDataParamDescr,
.docDataReturnsType, .docDataReturnsDescr,
.docDataTypeTxt, .docDataType {
	border: 1px solid rgb(218, 218, 218);
	padding: 5px;
}

.permissionsTd {
	border-top: 1px solid rgb(218,218,218);
	padding:5px;
}

.docDataPropTable, .docDataParamsTable , .docDataReturnsTable, .permissionsTable {
	border-spacing: 0;
	width:100%;
}

.docDataPropType, .docDataParamType, .docDataReturnsType {
	width: 12%;
}

.docDataParamName, .docDataPropName {
	width:11%;
}

.docDataParaCont td:first-child, .docDataPropCont td:first-child, .docDataReturnsCont td:first-child {
	border-left: none;
}

.docDataParaCont td:last-child, .docDataPropCont td:last-child, .docDataReturnsCont td:last-child {
	border-right: none;
}

.docDataParaCont:last-child td, .docDataPropCont:last-child td, .docDataReturnsCont:last-child td {
	border-bottom: none;
}

a {
	position: relative;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:focus::before {
	background-color: rgba(0,0,0,.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
}

.mainScrollBar {
	position: fixed;
	width:100%;
	z-index:10;
}

	.mainScrollBar .title {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		width: 100%;
		font-size: 350%;
	}

.sectionNavCont {
	position: relative;
	padding: 10px;
	font-size: 160%;
	-webkit-user-select: none;
	cursor: pointer;
}

.sectionNavTxt {
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
}

.indexAnchor {
	opacity: 0;
}

.docProp {
	padding: 5px;
}

.docElevation {
	width:100%;
}

.docDataFunctionUrlData, .docIndexLink {
	word-wrap: break-word;
}

.docIndexEdge {
	width: 100%;
}

#menuToggler {
	height: 30px;
	width: 30px;
}