::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(93,93,93);
}

::-webkit-scrollbar {
	background-color: rgb(40,40,40);
	border-radius: 10px;
	width: 8px;
}

body {
	font-size: 75%;
	font-family: "Segoe UI", Tahoma, sans-serif;
}