script-edit #settingsContainer {
	width: 477px;
	height: 376px;
	overflow-y:scroll;
}

.CodeMirror.fullscreen #bubbleCont {
	z-index: 50;
}

#editorThemeFontSizeInput {
	width: 78px;
	margin-left:7px;
}

	#triggersInfoTxt.expandLeft, #codeInfoTxt.expandLeft {
		margin-left: -263px;
	}

#openPermissionsDialogButton {
	font-size: 125%;
	background: #3F51B5;
    color: white;
}

.executionTriggerClear {
	padding: 8px 0;
}

#scriptEditCont #buttons {
	height: 45px;
}

#triggerOverflowContainer {
	overflow: hidden;
}

paper-button.blue {
    background-color: #3F51B5;
    color: white;
}

.editorTitle {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#docsLink {
	font-size: 130%;
}

#editorTypescript {
	width: 27px;
	height: 28px;
	font-size: 180%;
	text-align: right;
	vertical-align: bottom;
	padding: 4px;
}

#librariesTabContent {
	display: none;
	max-height: 330px;
	overflow-y: scroll;
}

#codeTabContentContainer.showLibs #librariesTabContent {
	display: block;
}

#codeTabContentContainer.showLibs #container {
	display: none;
}

#paperLibrariesShowbackground {
	margin-left: 20px;
	margin-bottom: 12px;
}