#dropdownSelected {
	color: rgb(38, 153, 244);
	font-weight: 500;
	display: inline-block;
}

paper-libraries-selector #dropdownSelected {
	font-size: 250%;
}

paper-libraries-selector[indent=false] #dropdownSelectedCont {
	margin-left: 0;
}

.menuSelectedCheckmark, .addLibraryPlusImg, span {
	margin-right: 0 !important;
}

.menuSelectedCheckmark {
	display: none;
}

.menuOptionName {
	padding-left: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
}

paper-item[aria-selected=true] .menuSelectedCheckmark {
	display: block;
}

paper-item[aria-selected=true] .menuOptionName, paper-item[addlibrary] .menuOptionName {
	padding-left: 8px;
}

paper-libraries-selector .addLibrary {
	font-weight: normal !important;
}

paper-libraries-selector .library.anonymous {
	color: grey;
	fill: grey;
}

.anonymous > .menuOptionName[data-descr]:hover::after {
  	content: attr(data-descr);
	position: absolute;
	left: 49px;
	margin-top: 26px;
	min-width: 200px;
	border: 1px rgb(170, 170, 170) solid;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	color: rgb(0, 0, 0);
	font-size: 14px;
	z-index: 9999999999;
}

#libraryInfoCont {
	cursor: pointer;
	float: right;
	margin-top: 7px;
	margin-right: 5px;
}

#libraryInfoCont .active, #libraryInfoCont #libraryInfoTxtCont {
	display: none;
}

#triggersInfoCont .inactive {
	display: block;
}

#libraryInfoCont:hover .active, #libraryInfoCont:hover #libraryInfoTxtCont {
	display: block;
}

#libraryInfoCont:hover .inactive {
	display:none;
}

#libraryInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

	#libraryInfoTxt.expandLeft {
		margin-left: -263px;
	}

.removeLibrary {
	position: absolute;
	margin-left: 163px;
	margin-top: -10px;
	cursor: pointer;
	z-index: 100;
}
