body {
	overflow: hidden;
}

app-header {
	left: 0!important;
	background-color: rgb(255, 87, 34)!important;
	color: white;
}

.title {
	text-align: center;
	font-size: 200% !important;
	height: 35px;
	margin-left: 0!important;
}

.circle.paper-spinner {
	border-width:3px;
}

#spinner {
	height: 120px;
	width: 120px;
}

#loadingText {
	font-size: 250%;
	font-weight: bold;
}

#spinnerCenterer {
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	        justify-content: center;
	width:100%;
}

#loadingContainer {
	-webkit-transition: opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	position: absolute;
	opacity:1;
	pointer-events: none;
}

	#loadingContainer[hide] {
		opacity:0;
	}
