stylesheet-edit #settingsContainer {
	width: 477px;
	height: calc(100% - 136px);
}

#editorThemeFontSizeInput {
	width: 78px;
}

.toggleButtonOption {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 130%;
	display: inline-block;
}

#toggleButtonsCont {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	padding-bottom: 20px;
}

.itemEditBigTxt {
	font-weight: 500;
	font-size: 200%;
}

.executionTriggerClear {
	padding: 8px 0;
}

#triggersInfoTxtCont {
	position: absolute;
}

#stylesheetEditCont #buttons {
	height: 45px;
}

#editorStylusInfo.hidden {
	display: none;
}
