#editPageCont {
	background-color: white;
	padding: 10px;
	pointer-events: all;
	overflow: hidden;
}

#horizontalCenterer {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	width: calc(100vw - 20px);
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

#verticalCenterer {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}