#contentCont[overflowing] .content {
	margin-bottom: -15px;
}

#dropdownLabel {
	margin-right: 15px;
}

#fancyDropdownlabel {
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px,
		rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px,
		rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
	width: 330px;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px;
	font-size: 150%;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}

#fancyDropdownSubtext {
	font-size: 60%;
	font-weight: normal;
}

#dropdownLabel[inline] {
	display: inline-block;
}

#dropdownSelected[inline] {
	margin: 0;
	font-size: 100%;
	margin-left: -10xp;
}

div[dropdownraised] {
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px,
		rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px,
		rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}
