.CRMEditColumn {
	position: relative;
	margin-left: 1px;
}

.indentFiller {
	height: 50px;
	width:200px;
}

.CRMEditColumnCont {
	width: 200px;
	/*I am not going to question how this works but it does*/
	display:table;
	animation: slideFadeLoad 1s;
}

#mainCont {
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: inset 0 0 57px rgba(0, 0, 0, 0.4);
	width: 1005px;
}

.crmItemFiller {
	height: 50px;
	width: 200px;
}

@keyframes slideFadeLoad {
	from {
		opacity: 0;
		margin-top:80px;
		margin-bottom: -80px;
	}

	to {
		opacity: 1;
		margin-top:0;
		margin-bottom: 0;
	}
}