.CRMEditColumn {
	position: relative;
	margin-left: 1px;
}

.indentFiller {
	height: 50px;
	width:200px;
}

@keyframes animateLeft {
	0% {
		opacity: 0;
		transform: translateX(90px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.CRMEditColumnCont {
	width: 200px;
	/*I am not going to question how this works but it does*/
	display:table;
	animation: animateLeft 250ms ease-in;
}

#mainCont {
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: inset 0 0 57px rgba(0, 0, 0, 0.4);
	width: 1005px;
	animation: min-height 50ms ease-in-out;
}

.crmItemFiller {
	height: 50px;
	width: 200px;
}

#emptyCrmNotice {
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-size: 130%;
	font-weight: 500;
	margin: 130px 0;
}

#crmLoadingPage {
	height: 400px;
	width: 100%;
}

paper-spinner {
	width: 50px;
	height: 50px;
}

paper-material[is-empty] {
	display: none;
}