.arrayInputLine {
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
}

#arrayInput {
	padding: 8px;
}

#arrayInputTitle {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 150%;
}

#arrayInputTitleContainer {
	text-align: center;
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 5px;
}

#arrayInputAddPositioner {
	border-top: 1px solid #c3c3c3;
	padding-top: 5px;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

#arrayInputNoItemsMessage {
	padding: 10px;
}

#maxElementsReachedMessage {
	color: #ff3614;
	font-weight: bold;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

#maxElementsReachedMessage.visible {
	opacity: 1;
}

#maxElementsReachedCenterer {
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: flex-end;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.arrayInputLine paper-input {
	width: 288px;
}
