#itemCont {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 300px;
	height: 50px;
	font-size: 150%;
	line-height: 50px;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: black;
}

	#itemCont[shadow] {
		opacity: 0.5;
	}

	:host(.dragging) {
		outline: none;
	}

#itemCont.draggingFiller {
	background-color: #78d3ff;
}

#typeSwitcher {
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	color: white;
	width: 300px;
}

.CRMItemTitle {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	position:relative;
	padding-left:5px;
	width: 265px;
}

	.CRMItemTitle[ismenu] {
		width: 245px;
	}

	.CRMItemTitle[has-code-settings] {
		width: 233px;
	}

	.CRMItemTitle[isroot] {
		width: 288px;
	}

#itemCont.selecting .CRMItemTitle[has-code-settings] {
	width: 258px;
}

.codeSettingsButton {
	position: relative;
	right: 0;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}

.codeSettingsButton:hover {
	background-color: rgb(240, 240, 240);
}

.menuArrowCont {
	position: relative;
	right: 0;
	width: 20px;
	height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}

	.menuArrowCont:hover {
		background-color: rgb(240,240,240);
	}

.CRMItemtitle:hover {
	background-color: rgb(240,240,240);
}

.menuArrow {
	margin-top: 4px;
	margin-left: 8px;
	background-size:cover;
	width:5px;
	height:8px;
	fill: transparent;
	stroke: black;
	stroke-width: 5px;
}

.menuArrow[expanded] {
	fill: black;
}

.menuArrowImage {
	height: 24px;
	width: 15px;
	margin-left: -9px;
	margin-top: -8px;
}

.dragger {
	width: 30px;
	height: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:move;
}

.draggerImg {
	height:30px;
	width:20px;
	margin-left:5px;
	padding-top: 7px;
}

.item {
	display: -webkit-inline-box;
	background-color: white;
	fill: black;
	height: 50px;
	-webkit-transition: background-color 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000), 
		color 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000), 
		fill 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: background-color 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000), 
		color 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000), 
		fill 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

	.item:hover {
		background-color: rgb(230,230,230);
	}

	:host([crm-type-hidden]) .item {
		color: #bcbcbc;
    	fill: #bcbcbc;
	}

:host(.browser-edge) .item {
	transform: translateY(-34px);
}

#itemCont.highlighted .item {
	background-color:#3E3E3E;
	color:white;
	fill: white;
}

#itemCont.highlighted .menuArrowCont {
	background-color: #3E3E3E;
}

#itemCont #checkboxCont {
	display:none;
	margin-left: 4px;
}

#itemCont .dragger {
	display:block;
}

#itemCont.selecting #checkboxCont {
	display:block;
}

#itemCont.selecting .dragger {
	display: none;
}

#itemCont.selecting .codeSettingsButton  {
	display: none;
}

#rootNodeTypeColor {
	width: 7px;
	background-color: #545454;
}

.CRMItemTitle input {
	font-size: 27px;
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	margin-top: 5px;
}

.menuArrow {
	margin-top: -30px;
}

paper-button.blue {
    background-color: #3F51B5;
    color: white;
}