/*console*/
#copySource {
	opacity: 0;
}

#consoleCont {
	margin: 10px;
	width: calc(100vw - 20px);
	height: calc(100vh - 84px);
	background-color: rgb(40,40,40);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

#consoleFiller {
	-webkit-flex-grow: 100;
	flex-grow: 100;
}

#linesCont {
	font-family: 'Consolas';
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 10px;
	max-height: calc(100vh - 114px);
}

.line:first-child {
	padding-top: 10px;
}

.line:last-child {
	padding-bottom: 5px;
}

.lineTimestamp {
	color: rgb(200,200,200);
	display: inline;
	margin-right: 10px;
}

.lineContent {
	color: rgb(255,255,255);
	display: inline;
}

.logLine {
	border-bottom: 1px solid rgb(60,60,60);
	margin: 3px 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#consoleInfo {
	height: 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	color: white;
	font-size: 150%;
	padding: 0 10px;
}

#filterCont {
	z-index: 500;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.centerVertical {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

#consoleInfoTxtCont {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}

#whatIsThis .active, #whatIsThis #consoleInfoTxtCont {
	display: none;
}

#whatIsThis .inactive {
	display: -webkit-flex;
	display: flex;
}

#whatIsThis:hover .active, #whatIsThis:hover #consoleInfoTxtCont {
	display: -webkit-flex;
	display: flex;
}

#whatIsThis:hover .inactive {
	display:none;
}

#consoleInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: #4c4c4c;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

	#consoleInfoTxt.expandLeft {
		margin-left: -263px;
	}

#tabFilter, #idFilter {
	position: relative;
}

#consoleStats {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

#consoleStats > * {
	margin-left: 10px;
}

.dropdownFilter {
	margin-right: 10px;
}

.dropdownFilter paper-dropdown-menu paper-menu {
	background-color: rgb(40,40,40);
	width: 150px;
	padding: 0;
}

.dropdownFilter #dropdownSelectedCont {
	margin: 0;
}

.dropdownFilter #dropdownSelected {
	font-size: 100%;
	color: white;
}

.dropdownFilter paper-item {
	color: white;
	display: block;
	padding: 8px;
}

.dropdownFilter .menuSelectedCheckmark {
	transform: translateY(2px);
}

.lineSource {
	color: white;
}

.lineSourceTabCont {
	cursor: pointer;
	position: relative;
}

.lineSourceTabCont:hover {
	text-decoration: underline;
}

.lineSourceTabCont:focus {
	outline: none;
}

.lineSourceTabCont:focus::before {
	background-color: rgba(0,0,0,.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
}

.toastLink {
	color: rgb(238, 255, 65);
	margin: 10px;
	cursor: pointer;
}

#inputFieldPrefix {
	color: rgb(255, 255, 255);
	font-family: 'Consolas';
	display: inline-block;
}

#consoleInput {
	background-color: rgb(40,40,40);
	border: 0;
	outline: none;
	color: white;
	-webkit-flex-grow: 100;
	flex-grow: 100;
	font-family: 'Consolas';
	margin-left: 5px;
	padding: 0;
	overflow: hidden;
}

#textFilter input {
	color: white;
}

#textFilter paper-input-container {
	padding: 2px 0;
}

#inputFieldCont {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin-bottom: 8px;
	position: relative;
}

#inputFieldWarning {
	color: #FF5722;
	position: absolute;
	margin-left: 10px;
	opacity: 0;
	transition: opacity 150ms ease-in;
	pointer-events: none;
	user-select: none;
}

#inputFieldWarning.visible {
	opacity: 1;
}

#prefixSpinner {
	width: 10px;
	height: 10px;
}

#console > paper-material {
	margin-bottom: 5px;
}

.lineContent > * {
	margin-right: 10px;
	display: inline-block;
}
/*console end*/

/*object*/
.objectElementValueCont {
	display: -webkit-flex;
	display: flex;
	margin-right: 3px;
}

.objectElementPreviewArea, .objectElementPreviewCont {
	display: -webkit-flex;
	display: flex;
}

.objectElementExpandArrow {
	cursor: pointer;
	transition: transform 150ms linear;
	fill: white;
	user-select: none;
}

.objectElementExpandArrow.toggled {
	transform: rotate(90deg);
}

.expandedObjectElement {
	display: -webkit-flex;
	display: flex;
}

.expandedObjectElementIndex {
	direction: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
} 

.objectElementExpanded {
	margin-left: 17px;
	-webkit-flex-direction: column;
	flex-direction: column;
	display: none;
}

.objectElementExpanded.visible {
	display: -webkit-flex;
	display: flex;
}

.expandedobjectElement:last-of-type {
	margin-bottom: 5px;
}

.expandedObjectElementValue {
	margin-left: 5px;
	display: inline-block;
}

.objectElementKey {
	color: #83d8ff;
}

.specialArrayElement {
	font-weight: bold;
    font-family: 'Roboto';
}
/*object end*/

/*string*/
.stringElementValue[type="string"] {
	color: rgb(255,200,200);
}

.stringElementValue[type="number"] {
	color: rgb(200,255,200);
}

.stringElementValue[type="boolean"] {
	color: rgb(100,100,255);
}
/*string end*/

/*function*/
.functionElementExpanded {
	margin-left: 17px;
	-webkit-flex-direction: column;
	flex-direction: column;
	display: none;
}

.functionElementExpanded.visible {
	display: -webkit-flex;
	display: flex;
}

.functionElementPrefix, .functionElementPrefixCont, .functionElementValue {
	display: inline;
}

.functionElementKeyword {
	color: #ff61ff;
}

.functionElementPreviewArea {
	display: -webkit-flex;
	display: flex;
}

.functionElement {
	display: -webkit-flex;
	display: flex;
	flex-direction: column
}
/*function end*/

/*eval*/
.evalElementCommandPrefix, 
.evalElementCommandValue, 
.evalElementReturnPrefix, 
.evalElementReturnValue {
	display: inline-block;
}

.evalElementCommandValue, .evalElementReturnValue {
	padding-left: 10px;
}
/*eval end*/

/*context menu*/
#contextMenu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	font-size: 120%;
}

#contextMenu.visible {
	display: block;
}

.contextMenuElement {
	padding: 8px;
	cursor: pointer;
}

.contextMenuElement:hover {
	background-color: #c3c3c3;
}

.contextMenuElement.disabled {
	display: none;
}
/*context menu end*/

.evalElementStatus paper-spinner {
	width: 13px;
	height: 13px;
}

.evalElementStatus paper-spinner .circle {
	border-width: 2px;
}

#inputFieldPrefix[hidden] {
	display: none!important;
}