#toolbar {
	background: rgb(255, 87, 34)!important;
}

#title {
	text-align: center;
	font-size: 300% !important;
	height: 35px;
}

.circle.paper-spinner {
	border-width:11px;
}

#spinner {
	height: 120px;
	width: 120px;
}

#loadingText {
	font-size: 250%;
	font-weight: bold;
}

#spinnerCenterer {
	display: flex;
	justify-content: center;
	width:100%;
}

#loadingContainer {
	-moz-transition: display 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: display 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: display 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: display 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}