.CodeMirror-wrap {
	height: calc(100vh - 294px);
}

#editorCont {
	margin: 10px;
}

.infoName {
	font-weight: 500;
	min-width: 100px;
}

.infoValue {
	padding-left: 15px;
}

#scriptInfo {
	padding: 20px;
	display: -webkit-flex;
	display: flex;
	padding-bottom:0;
}

#scriptInfoMeta, #scriptInfoPermissions {
	width: calc(50vw - 90px);
}

#scriptInfoMeta {
	margin-right:35px;
}

#scriptInfoPermissions {
	margin-left: 35px;
}

.infoData {
	font-size: 150%;
	margin-bottom: 15px;
}

html {
	margin:0;
	overflow-y: auto;
	overflow-x: hidden;
}

.installButton {
	font-size: 150%;
	font-weight: 500;
}

#installButtons {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color:white;
}

#installButton {
	background: #4CAF50;
}

#cancelButton {
	background: #F44336;
}

.installButton paper-material {
	padding: 0.7em 30px !important;
}

.infoPermissionCheckbox {
	margin-left: 25px;
}

.infoPermissionArrow svg {
	margin-bottom: -4px;
	transform: rotate(90deg);
}

	.infoPermissionArrow svg.shown {
		transform: rotate(-90deg);
	}

.infoPermissionArrow {
	display: inline-block;
	cursor: pointer;
}

.infoPermission {
	display: inline-block;
	-webkit-user-select:initial;
	user-select: initial;
}

paper-checkbox #checkbox.checked.paper-checkbox {
	background-color: rgb(63, 81, 181)!important;
	border-color: rgb(63, 81, 181)!important;
}

.infoPermissionToggleContainer {
	-webkit-user-select: none;
	user-select: none;
}

.infoPermissionExtraText {
	height: 0;
	overflow:hidden;
}

.infoPermissionCheckbox paper-ripple {
	pointer-events: none;
}

@-webkit-keyframes checkmark-expand {
	0% {
		top: 120px;
		left: 12px;
		width: 0px;
		height: 0px;
	}
	100% {
		top: -1px;
		left: 4px;
		width: 60px;
		height: 120px;
	}
}

@keyframes checkmark-expand {
	0% {
		top: 120px;
		left: 12px;
		width: 0px;
		height: 0px;
	}
	100% {
		top: -1px;
		left: 4px;
		width: 60px;
		height: 120px;
	}
}


#scriptInstalledCheckmark {
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 120px;
    left: 12px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-color: #ff5722;
	position: relative;
}

#scriptInstalled.visible #scriptInstalledCheckmark {
	-webkit-animation: checkmark-expand 650ms ease-out forwards;
	animation: checkmark-expand 650ms ease-out forwards;
}

#scriptInstalled {
	position: absolute;
	pointer-events: none;
	display: none;
	z-index: 100;
}

#scriptInstalled.visible {
	display: block;
}

#scriptInstalledBackground {
	width: 200px;
	height: 200px;
	background-color: white;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

#scriptInstalledCheckmarkCont {
	width: 60px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

#scriptInstalledText {
	font-size: 200%;
	margin-top: 20px;
}

#closePage {
	display: none;
}

#installButtons.installed #installButton {
	display: none;
}

#installButtons.installed #cancelButton {
	display: none;
}

#installButtons.installed #closePage {
	display: block;
}

#closePage {
	background: rgb(33, 150, 243);
}

#installConfirmContainer {
	height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;
}

#permissionsInfoCont {
	cursor: pointer;
	margin-bottom: -5px;
	display: inline-block;
}

#permissionsInfoCont .active,
#permissionsInfoCont #permissionsInfoTxtCont {
	display: none;
}

#permissionsInfoCont .inactive {
	display: block;
}

#permissionsInfoCont:hover .active,
#permissionsInfoCont:hover #permissionsInfoTxtCont {
	display: block;
}

#permissionsInfoCont:hover .inactive {
	display:none;
}

#permissionsInfoText {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
	cursor: default;
}

#permissionsToggleAll {
	margin-top: 15px;
}