center-element {
	display: -webkit-flex;
	display: flex;
	pointer-events: none;
}

#centerHorizontal, #centerVertical {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

#centerHorizontal {
	-webkit-flex-direction: row;
	flex-direction: row;
	width: 100%;
}

#centerVertical {
	-webkit-flex-grow: 100;
	flex-grow: 100;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#content {
	pointer-events: all;
}