center-element {
	display: flex;
	pointer-events: none;
}

#centerHorizontal, #centerVertical {
	display: flex;
	justify-content: center;
}

#centerHorizontal {
	flex-direction: row;
	width: 100%;
	height: 100%;
}

#centerVertical {
	flex-grow: 100;
	flex-direction: column;
}

#content {
	pointer-events: all;
}