#chooseDefaultSearchWindow, #manuallyInputSearchWebsiteWindow, #processedListWindow, #howToOpenWindow, #confirmationWindow, #successWindow, #loadingWindow {
	display: none;
	max-width: 650px;
}

#loadingWindow {
	height: 300px;
	width: 300px;
}

#processedListWindow {
	width: 650px;
}

.textAndInputContainer {
	display: flex;
	flex-direction: row;
}

	.textAndInputContainer paper-input {
		flex-grow: 100;
		margin-left:14px;
	}

	.textAndInputContainer span {
		margin-top: 31px;
	}

#testUrlLink, #testResultContainer span {
	display: inline-block;
}

#paperSearchWebsiteDialog paper-spinner {
	width: 50px;
	height: 50px;
}

.searchOptionContainer {
	display: flex;
	flex-direction: row;
}

.searchOptionURL {
	margin-left: 5px;
	flex-grow: 100;
}

#listInputSearchList {
	max-height: 465px;
	overflow-y: auto;
}

.searchOptionName {
	width: 115px;
}

.searchOptionCheckbox {
	margin: 20px 21px 0 21px;
}