#menuEditCont {
	max-height: 100vh;
	max-width: 100vw;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: center;
}

#menuEditLeft {
	display: inline-block;
	margin-right: 20px;
}

#triggersInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

	#triggersInfoTxt.expandLeft {
		margin-left: -263px;
	}

.executionTriggerClear {
	padding: 8px 0;
}

.executionTriggerNot {
	color: #f44336;
}

	.executionTriggerNot #checkboxLabel {
		padding-left: 0;
		padding-right: 8px;
	}

	.executionTriggerNot #ink {
		color: #f44336!important;
	}

	.executionTriggerNot #ink[checked] {
		color: #f44336!important;
	}

	.executionTriggerNot #checkbox.checked {
		background-color: #f44336!important;
		border-color: #f44336!important;
	}