.defaultLinkLinkCont, .defaultLinkName, .defaultLinkButton {
	display: inline-block;
}

.defaultLinkCont {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.defaultLinkHref {
	color: inherit;
	text-decoration: none;
}

	.defaultLinkHref:hover {
		text-decoration: underline;
	}


.defaultLinkName {
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	        flex-grow: 3;
	margin-left: 10px;
	margin-right: 10px;
}

	.defaultLinkName paper-input {
		width: 100%;
	}

	.defaultLinkName input {
		font-size: 125%;
	}

.defaultLinkLink {
	margin-top: 25px;
}

.defaultCRMLinks {
	clear: left;
}

paper-button {
	margin-top: 5px;
}

.defaultLinkLinkCont {
	width: 215px;
}

.defaultLinkLinkCont[searchengine] {
	width: 320px;
}

paper-button.blue {
    background-color: #3F51B5;
    color: white;
}