body {
	font-size: 125%;
}

.bigTxt {
	font-size: 300%;
}

.container {
	width: 1000px;
	overflow-x:hidden;
	overflow-y:hidden;
	margin-left:auto;
	margin-right:auto;
}

.defaultLink {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.defaultLinkName {
	flex-grow: 3;
	margin-left: 10px;
	margin-right: 10px;
}

	.defaultLinkName paper-input {
		width: 100%;
	}

	.defaultLinkName input {
		font-size: 125%;
	}

.defaultLinkLink {
	margin-top: 30px;
}

.defaultLinkHref {
	color: inherit;
	text-decoration: none;
}

	.defaultLinkHref:hover {
		text-decoration: underline;
	}

paper-input-decorator .focused-underline {
	background-color: #000000;
}