.linkInput {
	display: inline-block;
	width: 240px;
}

#linksContainer .floated-label-placeholder {
	display: none;
}

.checkboxText {
	display: inline-block;
}

#linkEditCont {
	max-height: 100vh;
	max-width: 100vw;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-webkit-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	        justify-content: center;
}

#linkEditLeft {
	display: inline-block;
	margin-right: 20px;
}