#editPageCont {
	background-color: white;
	padding: 10px;
	pointer-events: all;
}

#horizontalCenterer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: -webkit-calc(100vw - 20px);
	width: calc(100vw - 20px);
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

#verticalCenterer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#nodeInfo,
#scriptUpdateNotice {
	background-color: #3f51b5;
	color: white;
	font-size: 125%;
	padding: 5px 8px;
	pointer-events: all;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#scriptUpdateNotice {
	background-color: #e65100;
	max-width: 890px;
}

a {
	position: relative;
	text-decoration: none;
	color: rgb(44, 161, 220);
}

a:focus {
	outline: none;
}

a:focus::before {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
}

#nodeInfo a,
#scriptUpdateNotice a {
	color: white;
	text-decoration: underline;
}

#nodeInfo span::-moz-selection,
#nodeInfo b::-moz-selection,
#nodeInfo a::-moz-selection,
#nodeInfo div::-moz-selection,
#scriptUpdateNotice span::-moz-selection,
#scriptUpdateNotice b::-moz-selection,
#scriptUpdateNotice a::-moz-selection,
#scriptUpdateNotice div::-moz-selection {
	background-color: white;
	color: black;
}

#nodeInfo span::selection,
#nodeInfo b::selection,
#nodeInfo a::selection,
#nodeInfo div::selection,
#scriptUpdateNotice span::selection,
#scriptUpdateNotice b::selection,
#scriptUpdateNotice a::selection,
#scriptUpdateNotice div::selection {
	background-color: white;
	color: black;
}

#scriptUpdateMessage,
#scriptUpdateStatus {
	display: inline;
}

#scriptUpdateWarningIcon {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	fill: white;
	padding-right: 8px;
}

#scriptUpdateHideDialog {
	fill: white;
	margin-top: -5px;
	margin-right: -5px;
	cursor: pointer;
}

.scriptUpdateTextButton {
	font-weight: bold;
	cursor: pointer;
}

.scriptUpdateTextButton:hover {
	text-decoration: underline;
}

menu-edit,
divider-edit,
link-edit {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#nodeInfo > div {
	display: inline;
}

#nodeInfoNameCont,
#nodeInfoAuthorCont {
	max-width: 200px;
	text-overflow: ellipsis;
	display: inline-block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: -4px;
}

#nodeInfoByYou {
	text-decoration: underline;
}

*[hidden] {
	display: none !important;
}
