.TSContainer {
	width: 200px;
	margin-left:-193px;
	height:50px;
	color:white;
	text-align: center;
}

.TSContainer[link], .typeSwitchChoice[type=link] {
	background-color: #3F51B5;
}

.TSContainer[script], .typeSwitchChoice[type=script] {
	background-color: #F44336;
}

.TSContainer[menu], .typeSwitchChoice[type=menu] {
	background-color: #4CAF50;
}

.TSContainer[divider], .typeSwitchChoice[type=divider] {
	background-color: #FFC107;
}

.TSContainer[stylesheet], .typeSwitchChoice[type=stylesheet] {
	background-color: #AA00FF;
}

.typeSwitchChoice {
	width: 200px;
	height:50px;
	color:white;
	text-align: center;
}

#typeText, .typeSwitchChoiceText {
	font-size: 141%;
	text-transform: uppercase;
}

#typeSwitchArrow {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	width: 15px;
	height: 24px;
	display: inline-block;
	background-size: contain;
	float: right;
	margin-right: 7px;
	margin-top: 13px;
	fill: white;
}

#typeSwitchChoicesContainer {
	display: none;
}	