.CodeMirror-wrap {
	height: calc(100vh - 294px);
}

#editorCont {
	margin: 10px;
}

.infoName {
	font-weight: 500;
}

.infoValue {
	margin-left:10px;
}

#scriptInfo {
	padding: 20px;
	display:flex;
	padding-bottom:0;
}

#scriptInfoMeta, #scriptInfoPermissions {
	width: calc(50vw - 90px);
}

#scriptInfoMeta {
	margin-right:35px;
}

#scriptInfoPermissions {
	margin-left: 35px;
}

.infoData {
	font-size: 150%;
	margin-bottom:15px;
	display:flex;
}

html {
	margin:0;
	overflow-y: auto;
	overflow-x: hidden;
}

.installButton {
	font-size: 150%;
	font-weight: 500;
}

#installButtons {
	margin-bottom: 10px;
	margin-right:10px;
	float: right;
	color:white;
}

#installButton {
	background: #4CAF50;
}

#cancelButton {
	background: #F44336;
}

.installButton paper-material {
	padding: 0.7em 30px !important;
}

.infoPermissionCheckbox {
	margin-left: 25px;
}

.infoPermissionArrow svg {
	margin-bottom: -4px;
	transform: rotate(90deg);
}

	.infoPermissionArrow svg.shown {
		transform: rotate(-90deg);
	}

.infoPermissionArrow {
	display: inline-block;
	cursor: pointer;
}

.infoPermission {
	display: inline-block;
	-webkit-user-select:initial;
}

paper-checkbox #checkbox.checked.paper-checkbox {
	background-color: rgb(63, 81, 181)!important;
	border-color: rgb(63, 81, 181)!important;
}

.infoPermissionToggleContainer {
	-webkit-user-select: none;
}

.infoPermissionExtraText {
	height: 0;
	overflow:hidden;
}