@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url(Inconsolata-Regular.ttf);
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 700;
	src: url(Inconsolata-Bold.ttf);
}

body {
	font-family: 'Roboto';
}