script-edit #settingsContainer {
	width: 477px;
	height: 376px;
	overflow-y:scroll;
}

.CodeMirror.fullscreen #bubbleCont {
	z-index: 50;
}

#editorThemeFontSizeInput {
	width: 78px;
	margin-left:7px;
}

	#triggersInfoTxt.expandLeft, #codeInfoTxt.expandLeft {
		margin-left: -263px;
	}

#openPermissionsDialogButton {
	font-size: 125%;
	background: #3F51B5;
    color: white;
}

.executionTriggerClear {
	padding: 8px 0;
}

#scriptEditCont #buttons {
	height: 45px;
}

.editorTabsCont {
	display: -webkit-flex;
	display: flex;
	margin-left: 57px;
}

.editorTab {
	font-size: 150%;
	position: relative;
	text-transform: uppercase;
	padding: 5px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

	.editorTab.active {
		background-color: rgb(190,190,190);
		box-shadow: none;
	}

#triggerOverflowContainer {
	overflow: hidden;
}