#scriptEditCont {
	max-height: 100vh;
	max-width: 100vw;
}

input {
	font-size: 150%;
}

#buttons {
	float: right;
}

#saveButton, #cancelButton {
	font-size: 125%;
	color: rgb(38, 153, 244);
	font-weight: 500;
	width: 6em;
}

#scriptEditorCont {
	margin-left: 30px;
	width: 500px;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

#settingsCont {
	display: flex;
	padding-bottom: 11px;
}

#executionTriggersContainer .floated-label-placeholder {
	display: none;
}

.executionTrigger {
	display: flex;
}

.triggerInput {
	display: inline-block;
	flex-grow: 5;
}

#container, #flexRow, #flexColumn, #editorCont, .CodeMirror, .CodeMirror-scroll, #editorPlaceholder {
	flex-grow: 100;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.CodeMirror, .CodeMirror-focused {
	font-size: 125%;
}

.CodeMirror {
	-moz-animation-name: borderblur;
	-o-animation-name: borderblur;
	-webkit-animation-name: borderblur;
	animation-name: borderblur;
	-moz-animation-duration: 300ms;
	-o-animation-duration: 300ms;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	border: 1px solid rgb(195, 214, 255);
}

.CodeMirror-focused {
	-moz-animation-name: borderfocus;
	-o-animation-name: borderfocus;
	-webkit-animation-name: borderfocus;
	animation-name: borderfocus;
	-moz-animation-duration: 300ms;
	-o-animation-duration: 300ms;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	border: 1px solid rgb(76, 139, 255);
}

.CodeMirror-linenumber {
	border-right: 1px solid rgb(190,190,190);
}

@-moz-keyframes borderfocus {
	from {
		border: 1px solid rgb(195, 214, 255);
	}

	to {
		border: 1px solid rgb(76, 139, 255);
	}
}

@-webkit-keyframes borderfocus {
	from {
		border: 1px solid rgb(195, 214, 255);
	}

	to {
		border: 1px solid rgb(76, 139, 255);
	}
}

@keyframes borderfocus {
	from {
		border: 1px solid rgb(195, 214, 255);
	}

	to {
		border: 1px solid rgb(76, 139, 255);
	}
}

@keyframes borderblur {
	from {
		border: 1px solid rgb(76, 139, 255);
	}

	to {
		border: 1px solid rgb(195, 214, 255);
	}
}

#buttonsContainer {
	z-index: 50;
	overflow:hidden;
	padding:2px;
	display: flex;
	margin-top:-2px;
	margin-right:-1px;
}

#editorPlaceholder paper-spinner {
	width: 50px;
	height: 50px;
}

#editorPlaceholder, #editorPlaceHolderCenterer {
	justify-content: center;
}

#editorPlaceholder {
	background-color: rgb(240,240,240);
	z-index: 50;
}

#editorPlaceHolderCenterer {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

#editorCont {
	min-height: 302px;
}

#executionTriggersContainer {
	width: 100%;
}

#editorSettings svg {
	padding: 7px;
}

#editorFullScreen svg {
	padding: 4px;
}

#editorFullScreen, #editorSettings {
	cursor: pointer;
	background-color: white;
}

	#editorFullScreen:hover, #editorSettings:hover {
		background-color: rgb(230,230,230);
	}

#addTrigger {
	font-size: 125%;
}

#scriptInputText {
	padding-bottom: 10px;
}

#editorOptionsContainer {
	overflow: hidden;
	height: 250vh;
	pointer-events: all;
}

#editorSettings {
	height: 41px;
	z-index:60;
}

#editorOptions {
	z-index: 30;
	background-color: rgb(255, 255, 255);
	font-family: 'Roboto';
	padding: 10px;
	height: calc(100% - 137px);
	margin-left:-400px;
	font-size:15px;
}

#buttonShadow {
	display: inline-block;
	right: -1px;
	position: absolute;
	z-index: 50;
}

#settingsShadow {
	position: absolute;
	z-index: 30;
	font-family: 'Roboto';
	border-radius: 50%;
	width:0;
	height: 0;
	pointer-events: none;
	overflow: hidden;
	right: 0;
}

#editorThemeSettingTxt, #editorThemeSettingChoicesCont, .editorThemeSetting, #editorTabsOrSpacesTxt, #editorTabsOrSpacesCheckbox, #editorUseLineNumbersCheckbox, #editorUseLineNumbersTxt {
	display: inline-block;
}

.editorThemeSetting {
	border: 2px solid rgb(128,128,128);
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-bottom: -3px;
	cursor: pointer;
}

	.editorThemeSetting.currentTheme {
		border: 2px solid rgb(255,165,0);
	}

#editorThemeSettingWhite {
	background-color: white;
}

#editorThemeSettingDark {
	background-color: rgb(30,30,30);
}

#editorSettingsTxt {
	font-size: 250%;
	font-weight: 500;
	padding-bottom: 10px;
}

#editorTabsOrSpacesTxt, #editorUseLineNumbersTxt {
	margin-left: 10px;
}

#editorOptionsContainer paper-checkbox {
	margin-left: 2px;
	pointer-events: all;
}

#editorTabSizeInput {
	width: 250px;
}

#settingsContainer {
	width: 477px;
	height: calc(100% - 136px);
}

.CodeMirror-gutters {
	min-height: 100%!important;
}

#bubbleCont {
	width: 508px !important;
	height: 100%!important;
	position: absolute;
	overflow: hidden;
	right: 0;
}

.CodeMirror.fullscreen #settingsContainer {
	font-size: 140%;
}

#editorJSLintGlobalsFlexCont {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#editorJSLintGlobalsInput {
	flex-grow: 100;
}

#editorJSLintGlobalsDefault {
	margin-top: 13px;
}

#editorJSLintGlobalsDefault, #editorJSLintGlobalsInput {
	display: inline-block;
}

#editorThemeFontSize {
	display: flex;
	flex-direction: row;
	padding-bottom:10px;
}

#editorThemeFontSizeInput paper-input-container {
	padding: 0;
}

#editorThemeFontSizeInput {
	width: 55px;
	margin-left:7px;
}

#triggersInfoCont {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}

#triggersInfoCont .active, #triggersInfoCont #triggersInfoTxtCont {
	display: none;
}

#triggersInfoCont .inactive {
	display: block;
}

#triggersInfoCont:hover .active, #triggersInfoCont:hover #triggersInfoTxtCont {
	display: block;
}

#triggersInfoCont:hover .inactive {
	display:none;
}

#triggersInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

	#triggersInfoTxt.expandLeft {
		margin-left: -263px;
	}

.showOnContentItemCont {
	display: inline-block;
	position: relative;
	-webkit-user-select:none;
}

.showOnContentItemIcon, .showOnContentItemTxt {
	cursor: pointer;
}

.showOnContentItemIcon svg {
	width: 54px;
	height: 54px;
}

.showOnContentItemTxt {
	font-weight: 500;
	text-align: center;
	margin-top: -6px;
}

.itemEditBigTxt {
	font-weight: 500;
	font-size: 200%;
}

.showOnContentItemCheckbox {
	margin-left: 17px;
	margin-top: 5px;
}

#openPermissionsDialogButton {
	font-size: 125%;
	background: #3F51B5;
    color: white;
}

.executionTriggerClear {
	padding: 8px 0;
}

.executionTriggerNot {
	color: #f44336;
}

	.executionTriggerNot #checkboxLabel {
		padding-left: 0;
		padding-right: 8px;
	}

	.executionTriggerNot #ink {
		color: #f44336!important;
	}

	.executionTriggerNot #ink[checked] {
		color: #f44336!important;
	}

	.executionTriggerNot #checkbox.checked {
		background-color: #f44336!important;
	}