#dropdownSelected {
	color: rgb(38, 153, 244);
	font-weight: 500;
	display: inline-block;
}

paper-libraries-selector #dropdownSelected {
	font-size: 250%;
}

paper-libraries-selector[indent=false] #dropdownSelectedCont {
	margin-left: 0;
}

.menuSelectedCheckmark, .addLibraryPlusImg, span {
	margin-right: 0 !important;
}

.menuSelectedCheckmark {
	display: none;
}

.menuOptionName {
	padding-left: 38px;
}

paper-item[aria-selected=true] .menuSelectedCheckmark {
	display: block;
}

paper-item[aria-selected=true] .menuOptionName, paper-item[addlibrary] .menuOptionName {
	padding-left: 8px;
}

paper-libraries-selector .addLibrary {
	font-weight: normal !important;
}