.textAndInputContainer paper-input-container[disabled], #listInputSearchList paper-input-container[disabled]{
	opacity: 1;
}

#successWindow {
	width: 300px;
	height: 350px;
	background-color: white;
	transition: background-color 0.3s ease;
	margin: 0;
}

	#successWindow[style="display:block;"] {
		background-color: rgb(38,153,244);
	}

#paperSearchWebsiteDialog #successWindow[style="display:block;"] .checkmark {
	animation: delayed-expand-checkmark 440ms ease-out forwards;
}

@keyframes delayed-expand-checkmark {
	0% {
		top: 180px;
		left: 120px;
		width: 0;
		height: 0;
	}
	100% {
		top: -20px;
		left: 80px;
		width: 100px;
		height: 200px;
	}
}

#manualInputListChoiceInput iron-autogrow-textarea {
	max-height: 200px;
}