#errorToolContent {
	position:fixed;
	z-index: 99999999999999;
	width: 0;
	height: 0;
}

#iconContent {
	transform: translate(calc(100vw - 110px), calc(100vh - 100px));
}

#overlay {
	position: fixed;
	width:100vw;
	height:100vh;
	pointer-events: none;
	z-index:50;
	cursor: crosshair;
	opacity: 0;
	transition: opacity ease-in-out 0.3s;
}

	#overlay.toggled {
		opacity: 1;
	}

#reportBugButton, #reportBugButton iron-icon {
	width: 50px;
	height: 50px;
}

#reportingButtonElevation {
	border-radius: 50%;
	width:66px;
	height:66px;
	background-color: white;
	cursor:pointer;
}

#cropCanvas {
	display: none;
}

#errorReportingDialog, #onErrorDialog {
	width: 800px;
	position: static !important;
	top: inherit !important;
	max-height: none !important;
	z-index:2000;
}

.bugReportInfo {
	font-weight: bold;
}

.canvasCont, .addImg {
	width: 148.4px;
	padding: 0 1px;
	cursor: pointer;
}

.imagesTitle {
	font-weight: 400;
	font-size: 120%;
}

#highlightingCont {
	width: 100vw;
	height: 100vh;
	-webkit-user-drag: none;
}

	#highlightingCont div {
		background-color: rgba(0,0,0,0.35);
		-webkit-user-drag: none;
		position: absolute;
		pointer-events: none;
		will-change: transform;
		will-change: width;
		will-change: height;
	}

#highlightingTopSquare, #highlightingBotSquare {
	width: 100vw;
}

#highlightingTopSquare {
	height: 100vh;
}

#highlightButtons {
	position: absolute;
	font-size: 180%;
	transform: translate(calc((100vw - 250px) / 2), 85vh);
	z-index:100;
	opacity: 1;
	transition: opacity ease-in-out 0.3s;
}

	#highlightButtons.hidden {
		pointer-events:none;
		opacity: 0;
	}

#submitHighlightButton, #cancelHighlightButton {
	background-color: white;
}

.capture {
	width: 750px;
	cursor:pointer;
}

.captureElevation {
	width: 750px;
}

.imgContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#errorCont {
	color: #D50000;
	font-weight: bold;
	font-size: 120%;
}

#bugCheckmark {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 36px;
    left: 24px;
    width: 0;
    height: 0;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right-width: 0;
	border-bottom-width: 0;
	border-color: white;
	margin-top: 8px;
    margin-left: 4px;
}

#bugCheckmark.checked {
  animation: error-checkmark-expand 140ms ease-out forwards;
}


@keyframes error-checkmark-expand {
  0% {
    top: 36px;
    left: 24px;
    width: 0;
    height: 0;
	border-right-width: 6px;
	border-bottom-width: 6px;
  }
  100% {
    top: -4px;
    left: 16px;
    width: 20px;
    height: 40px;
	border-right-width: 6px;
	border-bottom-width: 6px;
  }
}

#bugCheckmarkCont {
	border-radius:50%;
	width:66px;
	height:66px;
	background-color:#4CAF50;
	opacity: 0;
	transition: opacity 350ms ease-in-out;
}

	#bugCheckmarkCont.checkmark {
		opacity: 1;
	}

#bugButton {
	opacity: 1;
	transition: opacity 350ms ease-in-out;
	border-radius:50%;
}

#bugButton.checkmark {
	opacity: 0;
}

#reportingButtonElevation.checkmark #bugButton {
	display: none;
}