.itemEditBigTxt {
	font-weight: 500;
	font-size: 200%;
}

#changeNameInput, #changeLinkInput {
	width: 340px;
}

input {
	font-size: 150%;
}

#buttons {
	float: right;
}

#saveButton, #cancelButton {
	font-size: 125%;
	color: rgb(38, 153, 244);
	font-weight: 500;
	width: 6em;
}

.linkInput {
	display: inline-block;
	width: 240px;
}

#linksContainer .floated-label-placeholder {
	display: none;
}

.checkboxText {
	display: inline-block;
}

#linkEditCont {
	max-height: 100vh;
	max-width: 100vw;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.showOnContentItemCont {
	display: inline-block;
	position: relative;
	-webkit-user-select:none;
}

.showOnContentItemIcon, .showOnContentItemTxt {
	cursor: pointer;
}

.showOnContentItemIcon svg {
	width: 54px;
	height: 54px;
}

.showOnContentItemTxt {
	font-weight: 500;
	text-align: center;
	margin-top: -6px;
}

.showOnContentItemCheckbox {
	margin-left: 17px;
	margin-top: 5px;
}

#linkEditLeft {
	display: inline-block;
	margin-right: 20px;
}

paper-input {
	width: 340px;
}

.triggerInput {
	display: inline-block;
	width: 280px;
}

#triggersInfoCont {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}

#triggersInfoCont .active, #triggersInfoCont #triggersInfoTxtCont {
	display: none;
}

#triggersInfoCont .inactive {
	display: block;
}

#triggersInfoCont:hover .active, #triggersInfoCont:hover #triggersInfoTxtCont {
	display: block;
}

#triggersInfoCont:hover .inactive {
	display:none;
}

#triggersInfoTxt {
	position: absolute;
    z-index: 10000;
    margin-top: -24px;
    margin-left: 24px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
	font-size:15.6px;
	font-weight:normal;
}

.executionTriggerClear {
	padding: 8px 0;
}

.executionTriggerNot {
	color: #f44336;
}

	.executionTriggerNot #checkboxLabel {
		padding-left: 0;
		padding-right: 8px;
	}

	.executionTriggerNot #ink {
		color: #f44336!important;
	}

	.executionTriggerNot #ink[checked] {
		color: #f44336!important;
	}

	.executionTriggerNot #checkbox.checked {
		background-color: #f44336!important;
		border-color: #f44336!important;
	}